In [29]:
import csv

In [17]:
from lxml import etree

In [90]:
import glob

In [91]:
filename = glob.glob('./sogou/*')

In [100]:
for file in filename:
    with open(file,encoding = 'ansi') as f:
        text = f.read()
    sel = etree.HTML(text)
    wenzhang_list = sel.xpath("//doc")
    for wenzhang in wenzhang_list[5:]:
        try:
            cat = wenzhang.xpath("url/text()")[0].split('://')[1].split('.')[0]
        except:
            cat = None
        try:
            content = wenzhang.xpath("content/text()")[0]
        except:
            content = None
        with open('sogou.csv','a',encoding='utf-8') as csvfile:
            writer = csv.writer(csvfile)
            writer.writerow([cat, content])

数据整理

In [101]:
import pandas as pd

In [102]:
data = pd.read_csv('sogou.csv',header = None)

In [103]:
data.columns = ['cat','content']

In [104]:
data.dropna(inplace = True)

In [105]:
data['content'] = data.content.str.replace('跳转至：页','').str.replace('我来说两句','').str.replace('',' ')

In [106]:
data = data[data.content.str.len()>50]

In [109]:
data.describe()

           cat                                            content
count   403580                                             403580
unique      15                                             281742
top       news  １．反对宪法基本原则，危害国家安全、政权稳定统一的；煽动民族仇恨、民族歧视的； ２．宣扬邪教...
freq     82256                                               6127

In [110]:
data.cat.value_counts()

news        82256
sports      81389
house       66480
business    60523
yule        30189
2008        26067
women       14621
it           9993
travel       7374
learning     7252
auto         6275
health       5155
cul          3096
mil          2841
career         69
Name: cat, dtype: int64

In [112]:
data = data[data.cat.isin(['news','sports','house','business','yule'])]

In [113]:
data.cat.value_counts()

news        82256
sports      81389
house       66480
business    60523
yule        30189
Name: cat, dtype: int64

In [114]:
data.to_csv('riyue.csv')